/* style.css */

body {
    background-color: #f7f7f7;
    font-family: 'Judson', serif;
    font-size: 16px;  
    margin: 20px;
    padding: 20px;
}

h2 {
    color: #4C243B;
    font-family: 'Judson', serif;
    font-size: 30px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #4C243B;
    font-size: 46px; 
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    position: relative;
    width: 400px;
    height: 550px;
    background-color: #AC7B84;
    margin: 50px;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 20px;
margin-top: 25px;
}

.circle-icon-container {
    position: relative;
    text-align: center;
}

.circle-icon {
    width: 150px;
    height: 150px;
    background-color: #4c243bc8;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.icon1 {
    background-image: url('../images/animal_intake.svg');
}

.icon2 {
    background-image: url('../images/seek.svg');
}

.icon3 {
    background-image: url('../images/search.svg');
}

.icon4 {
    background-image: url('../images/explore.svg');
}

.add-animal-btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #4c243bc8;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Judson', serif;
    font-size: 16px;
    font-weight: bold; 
    margin-bottom: 40px;
}

.add-animal-btn + .add-animal-btn {
    margin-top: 40px;
}

a {
    text-decoration: none;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #4c243bc8;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Judson', serif;
    font-size: 16px;
    font-weight: bold; 
}

form input[type="submit"]:hover {
    background-color: #4c243b;
}

body {
    background-color: #f7f7f7;
    font-family: 'Judson', serif;
    font-size: 16px;
    margin: 20px;
    padding: 20px;
}

p{
    color: #4C243B;
    font-family: 'Judson', serif;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.date-dropdowns {
    display: flex;
    gap: 10px;
}

.date-dropdowns select {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
}

form .date-dropdowns select,
form input[type="text"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.animal-dropdown select {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
}

form .animal-dropdown select,
form input[type="text"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #4c243bc8;
    color: white; 
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

h3 {
    color: #AC7B84;
    font-family: 'Judson', sans-serif;
    font-size: 22px;
    margin-top: 30px;
    text-align: left;
}

.return-home {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #AC7B84;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Judson', serif;
    font-size: 16px;
    font-weight: bold; 
    margin-bottom: 40px;
}

.reset-btn {
display: block;
margin: auto;
padding: 10px;
background-color: #AC7B84;
color: #FFFFFF;
border: none;
border-radius: 20px;
cursor: pointer;
font-family: 'Judson', sans-serif;
font-size: 22px;
font-weight: bold;
}

h4 {
    color: #7d0e0e;
    font-family: 'Judson', sans-serif;
    font-size: 22px;
    margin-top: 30px;
    text-align: left;
}

.view-animal-table {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #AC7B84;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Judson', serif;
    font-size: 16px;
    font-weight: bold; 
    margin-bottom: 40px;
}